@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #c9cbad;
    overflow-x: hidden;
}
/* #6d712e87 */

::-webkit-scrollbar {
    display: none;
  }




  .scrollable-box::-webkit-scrollbar {
    width: 4px; 
  }
  
  .scrollable-box::-webkit-scrollbar-track {
    background: #ecf288; 
    border-radius: 10px; 
  }
  
  .scrollable-box::-webkit-scrollbar-thumb {
    background: #6f742b; 
    border-radius: 10px; 
  }
  
  .scrollable-box::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  
  .scrollable-box {
    scrollbar-width:thin; 
    scrollbar-color: #6f742b #ecf288; 
  }
  
  



